<!DOCTYPE html>
<html>
<head>
  <title>Recommended</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar">
    <div class="logo">HealthTrack AI</div>
    <div class="nav-links">
      <a href="/">Dashboard</a>
      <a href="/profile">Profile</a>
      <a href="/log">Daily Activity</a>
      <a href="/meals">Meal Log</a>
      <a href="/recommended">Recommended</a>
    </div>
  </nav>

  <main class="container">
  <h1>Recommended Page</h1>

  <% if (user) { %>
    <p>This is the recommended for <strong><%= user.name %></strong> page.</p>
  <% } else { %>
    <p>This is the recommended for you page.</p>
  <% } %>

  <section class="card-container">
  <div class="card">
    <h3>Recommended Sleep</h3>
    <p>8 hours</p>
  </div>

  <div class="card">
    <h3>Recommended Steps</h3>
    <p><%= user ? user.step_goal : 0 %> steps</p>
  </div>

  <div class="card">
    <h3>Recommended Calories</h3>
    <p><%= user ? user.target_calories : 0 %> kcal</p>
  </div>
</section>
</main>